<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF8">
        <title>Socket</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
        crossorigin="anonymous"></script>
        <script type="text/javascript">
         var socket = io.connect('http://127.0.0.1:5555');

        socket.on('connect', function() {
            socket.send('User has connected!');
        });

        socket.on('response', function(msg) {
            alert(msg);
        });
    </script>
    </head>
    <body>
        <div>
            <h1>Socket Test</h1>
        </div>
    </body>
</html>